.background{
    background-color: grey;
    width: 1469px;
    height: 1120px;
}
.img-table{
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 80px;
    

}

.photo-table {
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 80px;
}

.img-table img{
        width: 250px;
        border: 2px solid #ddd;
        padding: 5px;
        height: 160px;
        
        
        margin: 10px;
        margin-bottom: 4px;
        }

     .c1{
        margin-top: 10px;
        margin-left: 90px;
        margin-right: 10px

     }
     .c1 img{
        width: 250px;
        border: 2px solid #ddd;
        padding: 5px;
        height: 90px;
        
        
        margin: 10px;
        margin-bottom: 4px;
 }
 .c1 th, p{
     
     text-align: left ;
     color: gray;
    font-size: 25px;
 }
 
 /* .Column2 th{
     
    text-align: left ;
} */
.Column2 th{
     
    
    color: gray;
    font-size:25px;
   

}
.Column2 p{
    color: red;
   margin-bottom: 10    px;
}
.Column2 label{
    margin-bottom: -30px;
}
.C3 th{
    margin-left:20px ;
    color: gray;
    font-size: 25px;
    
}
.C3 video{
   
   
   margin: 10px;
   margin-left: 80px;

    
    
  
   

}

 
        

.photos{
    margin-top: -100px;
    background-color: white;
    width: 1469;
    height: 320px;
    margin-bottom: 1px;
}

.img-table p{
    color: rgb(148, 18, 18);
    font-size: 20px;
    text-transform: capitalize;
    font-variant: normal;
}

.photos2{
    margin-top: 20px;
    width: 1469;
    height: 660px;
    background-color: white;
}


.img-table2{
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 80px;


}

/* .form-1{
    width: auto;
    height: 900px;
    margin: 30px;
    color: red;
}
.form-2{
    width: auto;
    height: 500;
    margin: 30px;
    color: grey;
}
.form-3{
    width: auto;
    height: 500;
    margin: 30px;
    color: blue;
} */

.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/

}
.Column {
    display: table-cell;
    background-color: white; /*Optional*/
    height: 780px;
}
.Column2{
    display: table-cell;
    background-color: white; /*Optional*/
    height: 780px;
    width: 550px;
    }

    .Column2 img{
        width: 150px;
        border: 2px solid #ddd;
        padding: 5px;
        height: 160px;
        
        
        margin: 10px;
        margin-bottom: 4px;

    }
    .C3{
        display: table-cell;
        background-color: white; /*Optional*/
        height: 780px;

    }
    .Column2 tr{
        margin: 10px;
    }